#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #121b18;
  color: white;
}

.container {
  margin: 0px 50px;
}

.emp {
  text-align: center;
}

.edit-button,
.delete-button ,.go-back ,.add-user{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

/* Hover effect */
.edit-button:hover,
.delete-button:hover,
.add-button:hover {
  background-color: #072546;
  color: #fff;
}

.add-button  {
  background-color: #ec1745;
  color: #fff;
  border: none;
  padding: 10px 18px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 4px;
  font-weight: bold;
}

.second {
  width: 100%;
  padding: 20px;
}

form {
  margin-left: 30%;
  margin-top: 5%;
}

input[type=text],
input[type=number],
select {
  width: 40%;
  display: block;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.second-header{
  text-align:center;
  color :red;
}